body {
    background-color: #ebebeb;
    width: 80%;
    margin:auto
}

button {
    height: 2em;
    background-color: #4eff4e;
    border-radius: 10px;
}

button:hover {
    background-color: #65c565;
}

header {
    background-color: #555f4a;
    padding: 1.5em;
    color: #e6dcdd;
    border-radius: 0px 0px 25px 25px;
    text-decoration: none;
}

.cart {
    float: left;
}

.purchase {
    border: 2px solid grey;
    padding: 5px;
}

.item {
    display: inline-block;
}

.remove {
    display: inline-block;
    font-size: 0.7em;
    color: grey;
    cursor: pointer;
}

.logo {
    font-size: 3em;
    float: left;
    padding: 10px 50px 0px 0px;
}

.logo a {
    text-decoration: none;
    color: #e6dcdd;
}

.menu {
    padding: 10px;
}

nav .menu a, li {
    display: inline-block;
    padding: 1em;    
    font-family: 'Pacifico', cursive;
    color: #ebebeb;
    text-decoration: none;
}

.dropdownItem {
    display: none;
}

.dropdown:hover .dropdownItem {
    display:block;
    background-color: #4e4e43;
    border: 2px solid white;
    border-radius: 15px;
}

.dropdown:hover ul {
    position: absolute;
}

.deals {
    font-family: 'Noto Serif', serif;
}

.deals > h1 {
    display: block;
    text-align: center;
    font-size: 2em;
}

.deals > div {
    display: flex;
    justify-content: space-around;
    align-content: stretch;
}

.newElement, .discountElement {   
    flex-grow: 1; 
    padding: 20px;
    margin: 10px;
    border: 5px double;
    border-radius: 25px;
}

.oldPrice {
    font-size: 1.2em;
    color: red;
    text-decoration: line-through;
}
.price {
    display: inline-block;
    margin: 5px 0px;
    color: green;
}

.view {
    width: 70%;
    margin: auto;
}

.view img, video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}